{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env", {
        "modules": false,
        "targets": "> 0.25%, not dead"
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
